<% layout('layouts/boilerplate') %>
    <h1>Edit Gym</h1>
    <form action="/spotters/<%= spotters._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="spotter[title]" value="<%= spotters.title %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="spotter[location]" value="<%= spotters.location %>">
        </div>
        <button>Update Gym</button>
    </form>
    <a href="/spotters/<%= spotters._id %>">Back to all gyms</a>