<% layout('layouts/boilerplate') %>
    <h1>Gym Spots</h1>
    <div>
        <a href="/spotters/new">Add Campground</a>
    </div>
    <ul>
        <% for (let spots of spotters) {%>
            <li>
                <a href="/spotters/<%= spots._id%>">
                    <%= spots.title%>
                </a>
            </li>

            <% } %>
    </ul>