<% layout('layouts/boilerplate') %>
    <h1>New Gym</h1>
    <form action="/spotters" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="spotter[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="spotter[location]">
        </div>
        <button>Add Gym</button>
    </form>
    <a href="/spotters">All Gyms</a>